{% extends "base.html" %}
{% block content %}
<h1>My Timetable</h1>
<div class="table-responsive"><table class="table table-bordered">
    <thead class="table-dark"><tr><th>Time / Day</th>{% for day in days %}<th>{{ day }}</th>{% endfor %}</tr></thead>
    <tbody>{% for slot in time_slots %}<tr><td>{{ slot }}</td>{% for day in days %}<td>{% for tt in timetables %}{% if tt.day==day and tt.time_slot==slot %}<strong>{{ tt.subject.name }}</strong><br>{{ tt.faculty.user.full_name }}<br>Room {{ tt.room_no }}{% endif %}{% endfor %}</td>{% endfor %}</tr>{% endfor %}</tbody>
</table></div>
{% endblock %}